.saved_button {
    display: flex !important;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

main {
    margin-bottom: 35%;
}

.saved_button svg {
    color: var(--color-btn-primary-hover-bg);
    margin-right: 5px;
    pointer-events: none;
}

.your-saved-txt {
    text-decoration: underline;
}

.d-grid-your-saved {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1em;
}

.d-grid-your-saved li {
    list-style: none;
}

.d-grid-your-saved .repo {
    font-size: 14px;
}

.your-saved-page-content {
    border-radius: 10px;
}

.inside-flex {
    justify-content: space-between;
}
