.save_button {
    display: flex !important;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.save_button svg {
    color: var(--color-btn-primary-hover-bg);
    margin-right: 5px;
}

.your-saved-txt {
    text-decoration: underline;
}

.d-grid-your-saved {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.d-grid-your-saved li {
    list-style: none;
}

.d-grid-your-saved .repo {
    font-size: 14px;
}

.your-saved-page-content {
    border-radius: 10px;
}

